<footer class="footer">
  <small>
    <a href="http://framgia.com/jp">About Us</a>
    
  </small>
  <nav>
    <ul>
      <li><a href="http://framgia.com/vn">Framgia Viet Nam</a></li>
    </ul>
  </nav>
</footer>
